* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.debug .page-header {
    padding: 10px;
    min-height: 100px;
    background-color: skyblue;
}

.debug .row{
    background-color: #DAA520;
    border: 1px solid black;
}

.debug [class^='col-'] {
    border: 1px dotted black;
    min-height: 40px;
    padding: 10px;
}

/*header*/

.container {
    max-width: 800px;
    margin: 0 auto;
}

.page-header .row {
    display: flex;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.col-3 {
    flex-basis: calc(100% / 4);
}

.col-6 {
    flex-basis: calc(100% / 2);
}

